package components

templ Footer() {
	<footer class="fixed p-1 bottom-0 bg-gray-100 w-full border-t">
		<div class="md:container md:mx-auto">
			<a class="rounded-lg p-4 text-s text-blue-600 visited:text-purple-600 text-center" href="https://github.com/cterence/dead-drop" target="_blank">
				github.com/cterence/tailout
			</a>
		</div>
	</footer>
}
